bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(image/img1.jpg);
}

bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(image/img2.jpg);
}

bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(image/img3.jpg);
}
